<%= form_with(model: widget, local: true) do |form| %>
  <% if widget.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <strong><%= pluralize(widget.errors.count, "error") %> prohibited this widget from being saved:</strong>

      <ul>
      <% widget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= form.label :name %>
    <%= f.rm.text_field :name, id: :widget_name, { class: "form-control" } %>
</div>
</div>
  </div>

  <div class="row">
    <%= form.label :color %>
    <%= f.rm.text_field :color, id: :widget_color, { class: "form-control" } %>
</div>
</div>
  </div>

  <div class="row">
    <%= form.label :size %>
    <%= f.rm.number_field :size, id: :widget_size, { class: "form-control" } %>
</div>
</div>
  </div>

  <div class="actions text-center">
    <%= form.submit %>
  </div>
<% end %>
