<h2>Widgets</h2>

<div class="table-responsive">

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Color</th>
      <th>Size</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @widgets.each do |widget| %>
      <tr>
        <td><%= link_to edit_widget_path(widget) do %><i class="fa fa-edit fa-lg"></i><% end %></td>
        <td><%= link_to widget.name, widget %></td>
        <td><%= widget.color.name if widget.color %></td>
        <td><%= widget.size %></td>
        <td><%= link_to widget, method: :delete, data: { confirm: 'Are you sure?' }  do %>
          <i class="fa fa-minus-square fa-lg"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>

<%= link_to 'New Widget', new_widget_path %>
