<!DOCTYPE html>
<html>
  <head>
    <title>GarrioServer3</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <div class="row">
        <%= render 'layouts/sidebar' %>
        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
